.sorting-buttons-container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.sorting-buttons-list {
  display: flex;

  .item:not(:last-child) {
    margin-right: 8px;
  }
}
.sorting-button {
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  align-content: center;

  outline: none;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.03em;
  color: $title-light-theme-color;

  transition: $time-function;

  &:focus,
  &:hover {
    color: $text-dark-theme-color;
    background-color: #2196f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}

//
//
//
// стили мобильного
@media screen and (max-width: 767px) {
  .sorting-buttons-list {
    justify-content: left;
    flex-wrap: wrap;
  }
  .sorting-button {
    margin-bottom: 15px;

    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  .sorting-buttons-container {
    max-width: 480px;
    padding-top: 60px;
  }
}
//
//
//
// стили от таблетки
@media screen and (min-width: 767px) {
  .sorting-buttons-list {
    justify-content: center;
  }
  .sorting-buttons-container {
    width: 768px;
    padding-top: 60px;
  }
}
//
//
//
//
// сьтли десктопа
@media screen and (min-width: 1200px) {
  .sorting-buttons-container {
    width: 1200px;
    padding-top: 91px;
  }
}
