.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .item:not(:last-child) {
    margin-right: 30px;
  }
}
.regular-customers-link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: #afb1b8;

  transition: $time-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    border-radius: 4px;
    fill: $accent-color;
  }
}
