.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;

  transition: $time-function;
}
.close-modal-button:hover .icon-close,
.close-modal-button:hover .icon-close {
  fill: $accent-color;
  transition: $time-function;
}
.close-modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  transition: $time-function;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: $time-function;
}
.modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  width: 528px;
  height: 581px;
  margin-top: 60px;
  padding: 40px;

  background-color: $bacground-light;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-heder {
  display: block;
  padding-bottom: 30px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-light-theme-color;
}
.form-field {
  position: relative;
  margin-bottom: 28px;
}
.form-field-comment {
  position: relative;
  margin-bottom: 20px;
}
.form-label {
  position: absolute;
  left: 42px;
  top: 50%;
  transform: translateY(-50%);

  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-light-theme-color;

  transition: $time-function;
}
.user-comment-label {
  position: absolute;
  left: 16px;
  top: 12px;

  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-light-theme-color;

  transition: $time-function;
}
.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  width: 18px;
  height: 18px;

  transition: $time-function;
}
.modal-form-input {
  display: block;
  padding-left: 42px;

  width: 100%;
  height: 40px;

  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: $time-function;
}
.user-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;

  background-color: transparent;
  resize: none;
  outline: none;

  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-light-theme-color;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: $time-function;
}
.modal-form-input:focus + .form-label,
.modal-form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-26px, -40px);
  transition: $time-function;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $accent-color;
}
.modal-form-input:focus ~ .icon-modal {
  fill: $accent-color;
  transition: $time-function;
}
.modal-form-input:focus,
.user-comment:focus {
  border-color: $accent-color;
  transition: $time-function;
}
.user-comment:focus + .user-comment-label,
.user-comment:not(:placeholder-shown) + .user-comment-label {
  transform: translateY(-33px);
  transition: $time-function;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $accent-color;
}
.rules-agree-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}
.rules-agree-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-light-theme-color;
}
.rules-agree-label::before {
  content: "";
  display: inline-block;

  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid #212121;
  border-radius: 4px;

  transition: $time-function;
}
.rules-agree-checkbox:checked ~ .rules-agree-label::before {
  background-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-size: cover;
  fill: #ffffff;
  border: none;

  transition: $time-function;
}

.rules-agree-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $accent-color;
}
.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;

  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
