$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-logo-color-header: #000000;
$main-logo-color-footer: #ffffff;
$accent-color: #2196f3;
$title-dark-theme-color: #ffffff;
$title-light-theme-color: #212121;
$text-dark-theme-color: #ffffff;
$text-light-theme-color: #757575;
$navigation-list-color: #212121;
$contact-link-color: #757575;
$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
